*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    margin-left: 8%;
}

button{
    
    /* min-width: none; */
    
    padding: 1rem 1.5rem;
    margin: 1rem 1rem;
    border-radius: 1.5rem ;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    background-color: rgb(223, 235, 235)
}

button:hover{
    background-color: rgb(204, 224, 224);
}